@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Yellowtail&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
@include flexCenter;
@include pseudo;

*{
  margin: auto;
	padding: 0;
  cursor: none;

}

body {
  overflow-y: auto;
  overflow: hidden;
  font-family: "VT323", monospace;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -2;
}

/*add blure to card*/
#rules {
  background-color: rgb(0, 221, 255, 0.2); /* Make the background transparent */
  backdrop-filter: blur(100px); /* Add a blur effect */
  width: 80%; /* Adjust as needed */
  max-height: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid rgb(255, 20, 147);
  box-shadow: 0 0 1px rgb(255, 20, 147), 0 0 3px rgb(255, 20, 147), 0 0 6px rgb(255, 20, 147), 0 0 9px rgb(255, 20, 147);
  margin-top: 0px;
  -webkit-text-stroke: 0.5px white;
  
}

#rules p {
  font-weight: bold; /* Make the text bold */
}


.text-xl, .text-2xl {
  font-size: 0.9rem; /* Adjust as needed */
}

.mb-4 {
  margin-bottom: 0.5rem; /* Adjust as needed */
}

.bg-base-0 {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1); /* Adjust color and opacity as needed */
}


li{
    margin-right: 10px;
}

li, a{
    text-align: center;
}
  
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* cursor animation and style */
.inner-cursor {
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
  width: 25px;
  height: 25px;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.001s;
}

.h1 {
  font-size: 120rem;
}

.label-text {
  color: black;
}

.label-text-alt{
  color: black;
}

/*Title*/
#neon{
  width: 50vw;
  height: 40vw;
  max-height: 2000vh;
  color: #fff;
  text-align: center;
  font-family: 'Yellowtail', serif;
  font-size: 7vw;
  text-shadow:
  0 0 8px #fff,
  0 0 24px #fff,
  0 0 32px #f80022,
  0 0 40px #f80022;
  position: absolute;
  inset: 0;
  transform: rotate(-8deg);
  z-index: -1;
  user-select: none;
}
span:nth-child(1){
  animation: neon 1.7s infinite alternate;
}
span:nth-child(2){
  animation: neon 1.7s infinite alternate-reverse;
}
@keyframes neon{
  0%, 18%, 22%, 26%, 58%, 62%, 100%{
      text-shadow:
      0 0 8px #fff,
      0 0 24px #fff,
      0 0 32px #f80022,
      0 0 40px #f80022;
  }
  20%, 24%, 60%{        
      text-shadow: none;
  }    
}

/*return button style*/
#returnbtn {
  position: fixed;
  top: 80px; /* Adjust this value based on the height of your navbar */
  left: 0;
}
/* homePage button to redirect to game page + all button*/

#redirectGameButton{
  position: fixed; 
  left: 44%; 
  bottom: 20%;

}

#redirectGameButton, #returnbtn{
  border: 3px solid rgb(0, 221, 255); 
  background-color: #292423;
  color: white;
  text-align: center; 
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
  box-shadow: 0 0 10px rgb(0, 221, 255), 0 0 20px rgb(0, 221, 255), 0 0 30px rgb(0, 221, 255), 0 0 40px rgb(0, 221, 255);
  cursor: none;
}

#neonButton{
  border: 3px solid rgb(0, 221, 255);
  color: white;
  text-align: center; 
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
  box-shadow: 0 0 1px rgb(0, 221, 255), 0 0 3px rgb(0, 221, 255), 0 0 6px rgb(0, 221, 255), 0 0 9px rgb(0, 221, 255);
  cursor: none;
}

#neonButton-alternative{
  border: 3px solid rgb(255, 20, 147);
  color: white;
  text-align: center; 
  box-shadow: 0 0 1px rgb(255, 20, 147), 0 0 3px rgb(255, 20, 147), 0 0 6px rgb(255, 20, 147), 0 0 9px rgb(255, 20, 147);
  cursor: none;
}

#neonButton-alternative:hover{
  color: white; 
  background-color: rgb(255, 20, 147);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
}

#redirectGameButton:hover, #returnbtn:hover, #neonButton:hover{
  color: white;
  background-color: rgba(0, 221, 255, 0.855);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
}

.swap {
  float: right;
}

.center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}



/*CSS for the game*/

.color-recap {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.color-div {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: solid;
}
.color-div2 {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: solid;
}

.cross{  
  width: 50px;
  height: 50px;    
  border-radius: 50% 50%;    
  position: relative;
  &::before{
      background: #888;
      position: absolute;
      display:block;
      content:'';
      width: 125%;
      height: 6%;
      top: 41%;
      left: -19%;
      transform: rotate(45deg);
  } 
  &::after{
      background: #888;
      position: absolute;
      display:block;
      content:'';
      width: 6%;
      height: 125%;
      left: 39%;
      top: -18%;
      transform: rotate(45deg);
  }    
   
    
}
