@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  cursor: none;

}


html {
    background-image: url(../img/wireframe_img/waves.png), url(../img/wireframe_img/battleship.png);
    background-position: none, center;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
}

#cursor-Delete {
  cursor: none;
}

li{
    margin-right: 10px;
}

li, a{
    text-align: center;
}
  
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.inner-cursor {
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
  width: 25px;
  height: 25px;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.01s;
}

#page-container-rule {
  display: contents;
  justify-content: center;
  height: 50vh;
}

#padding {
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

#card-body-rule {
  background-color: white;
  color: black;
}

#title-rule{
  text-align: center;
  font-size: 4ch;
  font-weight: bold;
  text-decoration: underline;
}

#second-title-rule{
  font-weight: bold;
  text-decoration: underline;
}