@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url(../img/wireframe_img/waves.png), url(../img/wireframe_img/battleship.png);
    background-position: none, center;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
}

